<!-- 01 Богдан Лукашенко -->
<header class="header">
  <!-- Mobile-Burger Menu -->
  <div class="overlay" data-menu>
    <div class="mobile-menu container">
      <div class="mobile-menu-list">
        <a class="mobile-menu-item" href="/">yachtjet</a>
        <button
          class="mobile-menu-close-button"
          data-menu-close
          aria-label="Close menu"
        >
          <svg
            class="mobile-menu-close-icon"
            width="16"
            height="16"
            aria-hidden="true"
          >
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="central-console-mobile-menu">
        <ul class="mobile-menu-nav-list">
          <li>
            <a class="console-mobile-menu-links" href="#about-us">About</a>
          </li>
          <li>
            <a class="console-mobile-menu-links" href="#our-yachts">Yachts</a>
          </li>
          <li>
            <a class="console-mobile-menu-links" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="svg-console-mobile-menu">
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="mobile-menu-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Youtube"
          >
            <svg class="mobile-menu-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="mobile-menu-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Header  -->
  <div class="header-menu container">
    <div class="header-menu-list">
      <a class="header-list-item" href="/">yachtjet</a>
      <button
        class="header-mobile-menu-open-button"
        data-menu-open
        aria-label="Open menu"
      >
        <svg class="menu-icon" width="28" height="28" aria-hidden="true">
          <use href="./img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <nav class="header-navigation">
        <ul class="header-central-menu-list">
          <li>
            <a class="header-central-menu-button-links" href="#about-us"
              >About</a
            >
          </li>
          <li>
            <a class="header-central-menu-button-links" href="#our-yachts"
              >Yachts</a
            >
          </li>
          <li>
            <a class="header-central-menu-button-links" href="#reviews"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header-svg-menu-list">
        <li>
          <a
            class="header-svg-menu-links"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg
              class="header-mobile-svg"
              width="19"
              height="19"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-svg-menu-links"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg
              class="header-mobile-svg"
              width="19"
              height="19"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-svg-menu-links"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg
              class="header-mobile-svg"
              width="19"
              height="19"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
