<!-- 04 Владислав Заровній -->
<section class="our-yacht-section" id="our-yachts">
  <div class="container etapi_work">
    <h2 class="our-yacht-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yacht-card-list yacht-slider">
      <li class="yacht-card-item yacht-slide-item">
        <picture>
          <source
            srcset="
              ./img/04-our-yachts/arrow-1440-@1x.jpg 1x,
              ./img/04-our-yachts/arrow-1440-@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/arrow-1280-@1x.jpg 1x,
              ./img/04-our-yachts/arrow-1280-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/arrow-1280-@1x.jpg 1x,
              ./img/04-our-yachts/arrow-1280-@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/arrow-1280-@1x.jpg 1x,
              ./img/04-our-yachts/arrow-1280-@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="yacht-card-img"
            loading="lazy"
            src="./img/04-our-yachts/arrow-1280-@1x.jpg"
            alt="arrow yacht"
            width="345"
          />
        </picture>
        <table class="yacht-card-table">
          <thead class="yacht-card-thead">
            <tr class="yacht-table-item">
              <th class="yacht-name">ARROW</th>
              <th class="yacht-category">LUXURY YAHTS</th>
            </tr>
          </thead>
          <tbody class="yacht-card-tbody">
            <tr class="yacht-table-item">
              <td class="yacht-parameter">LENGTH</td>
              <td class="yacht-parameter-value">48m(155ft)</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">BUILDER</td>
              <td class="yacht-parameter-value">Admiral</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">BUILT</td>
              <td class="yacht-parameter-value">2021</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">GUESTS</td>
              <td class="yacht-parameter-value">11 in 5 cabins</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">PRICE</td>
              <td class="yacht-parameter-value">€33,500,000</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="yacht-card-item yacht-slide-item">
        <picture>
          <source
            srcset="
              ./img/04-our-yachts/benetti-1440-@1x.jpg 1x,
              ./img/04-our-yachts/benetti-1440-@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/benetti-1280-@1x.jpg 1x,
              ./img/04-our-yachts/benetti-1280-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/benetti-1280-@1x.jpg 1x,
              ./img/04-our-yachts/benetti-1280-@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/benetti-1280-@1x.jpg 1x,
              ./img/04-our-yachts/benetti-1280-@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="yacht-card-img"
            loading="lazy"
            src="./img/04-our-yachts/benetti-1280-@1x.jpg"
            alt="benetti yacht"
            width="345"
          />
        </picture>
        <table class="yacht-card-table">
          <thead class="yacht-card-thead">
            <tr class="yacht-thead-item">
              <th class="yacht-name">BENETTI OASIS 40M BO122</th>
              <th class="yacht-category">LUXURY YAHTS</th>
            </tr>
          </thead>
          <tbody class="yacht-card-tbody">
            <tr class="yacht-table-item">
              <td class="yacht-parameter">LENGTH</td>
              <td class="yacht-parameter-value">41m (133ft)</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">SHIPYARD</td>
              <td class="yacht-parameter-value">Benetti</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">BUILT</td>
              <td class="yacht-parameter-value">2025</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">GUESTS</td>
              <td class="yacht-parameter-value">10 in 5 cabins</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">PRICE</td>
              <td class="yacht-parameter-value">€23,210,000</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="yacht-card-item yacht-slide-item">
        <picture>
          <source
            srcset="
              ./img/04-our-yachts/belle-anna-1440-@1x.jpg 1x,
              ./img/04-our-yachts/belle-anna-1440-@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/belle-anna-1280-@1x.jpg 1x,
              ./img/04-our-yachts/belle-anna-1280-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/belle-anna-1280-@1x.jpg 1x,
              ./img/04-our-yachts/belle-anna-1280-@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/04-our-yachts/belle-anna-1280-@1x.jpg 1x,
              ./img/04-our-yachts/belle-anna-1280-@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="yacht-card-img"
            loading="lazy"
            src="./img/04-our-yachts/belle-anna-1280-@1x.jpg"
            alt="bell-anna yacht"
            width="345"
          />
        </picture>
        <table class="yacht-card-table">
          <thead class="yacht-card-thead">
            <tr class="yacht-table-item">
              <th class="yacht-name">BELLE ANNA</th>
              <th class="yacht-category">LUXURY YAHTS</th>
            </tr>
          </thead>
          <tbody class="yacht-card-tbody">
            <tr class="yacht-table-item">
              <td class="yacht-parameter">LENGTH</td>
              <td class="yacht-parameter-value">50m(155ft)</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">SHIPYARD</td>
              <td class="yacht-parameter-value">ISA</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">BUILT</td>
              <td class="yacht-parameter-value">2012</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">GUESTS</td>
              <td class="yacht-parameter-value">12 in 6 cabins</td>
            </tr>
            <tr class="yacht-table-item">
              <td class="yacht-parameter">PRICE</td>
              <td class="yacht-parameter-value">€21,000,000</td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <a class="yacht-rental-link" href="#rent-a-yacht">Yacht rental</a>
  </div>
</section>
