<!-- 05 Антон Ким -->
<section class="adventages">
  <div class="container">
    <h2 class="Advantages-title visually-hidden">Advantages</h2>

    <ol class="adventages-list">
      <li class="adventages-list-item">
        <h3 class="adventages-name">01</h3>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="adventages-list-item">
        <h3 class="adventages-name">02</h3>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="adventages-list-item">
        <h3 class="adventages-name">03</h3>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="adventages-list-item">
        <h3 class="adventages-name">04</h3>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <div class="adventages-pic-container">
      <picture class="adventages-picture">
        <source
          srcset="
            /img/05-advantages/desk-1440-advantages.jpg    1x,
            /img/05-advantages/desk-1440-advantages@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            /img/05-advantages/desk-1280-advantages.jpg    1x,
            /img/05-advantages/desk-1280-advantages@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            /img/05-advantages/tab-advantages.jpg    1x,
            /img/05-advantages/tab-advantages@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            /img/05-advantages/mob-advantages.jpg    1x,
            /img/05-advantages/mob-advantages@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="pic"
          loading="lazy"
          src="/img/05-advantages/mob-advantages.jpg"
          alt="pic"
        />
      </picture>
    </div>
  </div>
</section>
