<!-- 07 Владислав Аврашов -->
<section class="reviews" id="reviews">
  <div class="reviews-container container">
    <h2 class="title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="title-description">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="customer-reviews">
      <li class="review">
        <img
          src="./img/07-reviews/john-wax.jpg"
          loading="lazy"
          srcset="
            ./img/07-reviews/john-wax.jpg    1x,
            ./img/07-reviews/john-wax@2x.jpg 2x
          "
          alt="John Wax photo"
          width="56"
          height="56"
        />
        <h3 class="customer-name">John Wax</h3>
        <p class="customer-message">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="review">
        <img
          src="./img/07-reviews/victoria-romashenko.jpg"
          loading="lazy"
          srcset="
            ./img/07-reviews/victoria-romashenko.jpg    1x,
            ./img/07-reviews/victoria-romashenko@2x.jpg 2x
          "
          alt="Victoria Romashenko photo"
          width="56"
          height="56"
        />
        <h3 class="customer-name">Victoria Romashenko</h3>
        <p class="customer-message">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="review">
        <img
          src="./img/07-reviews/ihor-trachuk.jpg"
          loading="lazy"
          srcset="
            ./img/07-reviews/ihor-trachuk.jpg    1x,
            ./img/07-reviews/ihor-trachuk@2x.jpg 2x
          "
          alt="Ihor Trachuk photo"
          width="56"
          height="56"
        />
        <h3 class="customer-name">Ihor Trachuk</h3>
        <p class="customer-message">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
