<!-- 08 Анастасія Луховська -->
<footer class="footer container">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-wrapper">
        <nav class="footer-nav">
          <a class="footer-logo" href="./index.html"> yachtjet </a>
          <ul class="footer-nav-list">
            <li class="list-item">
              <a class="footer-nav-item-link" href="#about-us">ABOUT</a>
            </li>
            <li class="list-item">
              <a class="footer-nav-item-link" href="#our-yachts">YACHTS</a>
            </li>
            <li class="list-item">
              <a class="footer-nav-item-link" href="#reviews">REVIEWS</a>
            </li>
          </ul>
        </nav>

        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-item-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="footer-social-icon" width="19" height="19">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-item-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="footer-social-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-item-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="footer-social-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-slogan-container">
        <p class="footer-slogan">
          No matter which yacht you choose, our <br class="first-break" />
          experienced crew will ensure that your journey
          <br class="second-break" />
          is <br class="third-break" />
          smooth and enjoyable.
        </p>
      </div>

      <div class="footer-copyright">
        <p class="footer-copyright-text">2025. Yacht Adventures</p>

        <a class="footer-copyright-text" href=""> Privacy Policy </a>
      </div>
    </div>
  </div>
</footer>
